@namespace BlazorSpider.Models

@if (PlayingCardModel.TableauId > 0)
{
    <div id="@PlayingCardModel.Id" class="spider-column sequence-@PlayingCardModel.PileSequence" draggable="true" @ondragstart="@((e) => HandleDragStart(@PlayingCardModel))">
        <img class="playing-card" src="@PlayingCardModel.ImageUrl" alt="@PlayingCardModel.Description" title="@PlayingCardModel.Description" />
    </div>
}

@if (PlayingCardModel.StockId > 0)
{
    <img class="playing-card" src="@PlayingCardModel.ImageUrl" alt="@PlayingCardModel.Description" title="@PlayingCardModel.Description" @onclick="@((e) => HandleClick())" />
}

@if (PlayingCardModel.FoundationId > 0)
{
    <img class="playing-card" src="@PlayingCardModel.ImageUrl" alt="@PlayingCardModel.Description" title="@PlayingCardModel.Description" />
}

@code {
    [CascadingParameter] SpiderContainer Container { get; set; }
    [Parameter] public PlayingCardModel PlayingCardModel { get; set; }

    private void HandleDragStart(PlayingCardModel selectedPlayingCard)
    {
        Container.Payload = selectedPlayingCard;
    }

    private async Task HandleClick()
    {
        if (PlayingCardModel.StockId > 1 && Container.StockPiles[PlayingCardModel.StockId - 2].Any())
        {
            return;
        }

        for (int i = 0; i < 10; i++)
        {
            if (!Container.TableauPiles[i].Any())
            {
                return;
            }
        }

        Container.MoveList.Add(new Move
        {
            FromTableauId = 0,
            ToPileId = 0,
            ToFoundationPile = false,
            Cards = 0
        });

        int stockpileindex = PlayingCardModel.StockId - 1;
        for (int i = 0; i < 10; i++)
        {
            var card = Container.StockPiles[stockpileindex][i];
            card.StockId = 0;
            card.TableauId = i + 1;
            card.IsFaceDown = false;
            card.PileSequence = Container.TableauPiles[i].Any() ? Container.TableauPiles[i].Max(c => c.PileSequence) + 1 : 1;
            Container.TableauPiles[i].Add(card);
        }
        Container.StockPiles[stockpileindex].Clear();
        await Container.UpdateAllPiles();
    }
}
